.items_back{
    background-color: rgb(255, 255, 255);

    width: 25vw;
    height: 13vw;

    border:1px solid #434343;


    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.item_back_name{
    position: relative;

    
    font-family: 'GmarketSansMedium';
    font-size: 1.2vw;
}

.item_back_price{
    position: relative;


    font-family: 'GmarketSansMedium';
    font-size: 1vw;
}
a {
    text-decoration: none;  /* 밑줄 제거 */
    color: inherit;  /* 기본 색상 상속 */
}

.item_img{
    position: absolute;
    z-index: 0;
    width: 50vh;
    height: 33vh;
    top:-1vh;

    
    
}


.item_des{
    position: relative;
    left: 1vh;
    width: 30vh;
    height: 6vh;
    display: flex;
    flex-direction: column;
}