.items_back{
    background-color: rgb(255, 255, 255);

    width: 25vw;
    height: 13vw;

    border:1px solid #434343;


    position: relative;
    border-radius: 20px;
}

.item_back_name{
    position: absolute;
    top:10vw;
    left: 1vw;
    font-family: 'GmarketSansMedium';
    font-size: 1.2vw;
}

.item_back_price{
    position: absolute;
    top:11.3vw;
    left: 1vw;
    font-family: 'GmarketSansMedium';
    font-size: 1vw;
}



/*
css문제: text aline: 다른걸로 해줘야함(가격에) 그리고 위치 맞추는 걸 flex레이아웃을 잘 이용해보면 윗 글자에 맞춰서 아래 돈도 맞출 수 있을듯
*/