.items_pr{
    position: absolute;
    width:30%;
    top:30vw;
}

.forms_save_{
    position: absolute;

    left: 60vw;
    top:-13vw;

    flex-wrap: wrap;
    display: flex;
    flex-direction:column;
    gap:2vw;
}

.form_div_span{
    position: relative;

    font-family: 'Pretendard-re';
    
    font-size: 1.2vw;
    top:0.1vw;
}

.save_input_{
    font-family: 'Pretendard-bold';
    font-size: 1.6vw;
}

.save_input_Des{
    font-family: 'Pretendard-re';
    font-size: 1vw;

    position: relative;

    top:0.4vw;


}

.button_save_{
    position: relative;

    top:-5vw;
    left:60vw;
}

.bts_{
    width: 25vw;
    height: 3vw;

    border: none;
    border-radius: 20px;

    position: absolute;
    top:15.5vw;



    font-family: 'Pretendard-Bold';

    color:white;
    background-color: #c82e2e;

    transition: all 0.5s;
  }


  .Des_board{
    width: 25vw;
    height: 10vw;

  }


  .cate_{
    position: absolute;
    top:13vw;
    left:12vw;

    width: 40vw;

    display: flex;
    flex-wrap: wrap;

    gap:0.5vw;
  }


  .product_img{
    position: absolute;

    top:-12vw;
    left: 15vw;

  }

  .save_img_div_{
    width: 30vw;
    height: 20vw;

    background-color: #939393;
    border-radius: 25px;
  }


  .product_modal_update{
    position: absolute;

    top:-15vw;
    left: 120%;


    background-color: white;
    width: 25vw;
    height: 30vw;
    border: 1px solid #434343;
    border-radius: 3vw;

    z-index: 10;

    display :none;

    justify-content: center;

    display: flex;

    flex-direction: column;


  }


  .product_modal_update_div{
    position: relative;
    
    justify-content: center;


    align-items: left;

    display: flex;

    flex-direction: column;

    gap: 0.4vw;
  }

  .product_modal_update_input{
    width: 22.5vw;
    height: 2vw;

    border-radius: 3vw;
    border: 1px solid #434343;
    position: relative;
    left: 1vw;
    top:-3vw;

    text-align: center;
  }

  .product_modal_update_span{
    position: relative;
    left: 1vw;
    top:-3vw;

  }

  .product_modal_p{
    position: relative;
    left: 1vw;
    font-size: 1.1vw;
    font-family: 'GmarketSansMedium';
    top:-6vw;
  }


  .modal_btn
  {
    width: 35%;
    height: 100%;
    border-radius: 16px;
    border: none;
  
    color:white;
    background-color: #31A040;
  
    font-family: 'GmarketSansMedium';
  
    transition: all 0.3s;

    position: absolute;
    left: 13%;

  }

  .moadal_button{
    width:100%;
    height: 7%;
    
    position: relative;

    
  }

  .modal_btn_down
  {
    width: 35%;
    height: 100%;
    border-radius: 16px;
    border: none;
  
    color:white;
    background-color: #a03131;
  
    font-family: 'GmarketSansMedium';
  
    transition: all 0.3s;

    position: absolute;
    left: 53%;

  }

  .product_button_div{


    position: relative;

    top:-15vw;
    left: 110%;
    
    display: flex;
    flex-direction: row;
    
    gap: 2vw;

  }

  .product_button_up,.product_button_de{
    border : none;
    width: 5vw;
    height: 1.7vw;

    background-color : #31A040;
    color:white;

    font-family: 'GmarketSansMedium' ;

    border-radius: 1vw;

  }

  .product_button_de{
    background-color : #a03131;
  }